<div id="<%= dom_id match %>">
  <p>
    <strong>Player a:</strong>
    <%= match.player_a_id %>
  </p>

  <p>
    <strong>Player b:</strong>
    <%= match.player_b_id %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= match.round %>
  </p>

</div>
